.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
header {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: rgb(254, 253, 253);
}
img {
    display: block;
    width: 20%;
    margin: 0 auto;
    text-align: center;
}
main p {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
 main p2 {
        display: block;
        width: 40%;
        margin: 0 auto;
        text-align: left;
    }
    main p3 {
        display: block;
        width: 20%;
        margin: 0 auto;
        text-align: center;
        color: rgb(254, 253, 253);
    
a {
    font-size: 1.5em;
}

}

nav {
    text-align: center;
}